@import url("~@hfh-dlc/hfh-styleguide/dist/style.css");

body {
    font-family: var(--f-primary);
    font-size: 1rem;
}

main {
    hyphens: auto;
}

main a {
    font-weight: bold;
    color: var(--c-thunderbird-red);
}

main a:hover {
    text-decoration: underline;
}

.checklist-entry button,
.error-message button,
.info-message button {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
}

.hfh-accordion {
    font-size: 1rem;
}