@import "./tailwind-base.css" layer(tailwind-base);

@import "../../node_modules/@hfh-dlc/hfh-styleguide/dist/style.css"
    layer(hfh-styleguide);

@import "./tailwind-utilities.css" layer(tailwind-utilities);

body {
    font-family: var(--f-primary);
    font-size: 1rem;
}

main {
    hyphens: auto;
}

main a {
    font-weight: bold;
    color: var(--c-thunderbird-red);
}

main a:hover {
    text-decoration: underline;
}

.checklist-entry button,
.checklist-entry label,
.error-message button,
.info-message button {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
}

.hfh-accordion {
    font-size: 1rem;
}
